[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
selenium-requests = "*"
sh = "*"
humanfriendly = "*"
tinydb = "*"

[requires]
python_version = "3.7"
